html {
    margin: 0;
    overscroll-behavior: none;
    overflow: auto;
    overscroll-behavior-y: contain;
}
body{
    font-family: sans-serif;
    margin: 20px 80px 0px 80px;
}
/* Banner style */
header{
    width: 100%;
    height: 600px;
    background-image: url('../img/BannerImage.png');
    background-repeat: no-repeat;
    border-radius: 16px;
    background-size: cover;
    background-position: center;
    position: relative;
}

.baner-title{
    position: absolute;
    top: 50%;
    left: 50%;
    color: #FFF;
    text-align: center;
    transform: translate(-50%, -50%);
}

.baner-title h3{
    font-size: 32px;
    font-weight: 400;
    text-align: center;
}
h1{
    font-size: 72px;
}
/* Main body style */
.firstbody{
    box-sizing: border-box;
    text-align: center;
    margin-top: 120px;
}
a{
    text-decoration: none;
    color:white;
}
.secondbody{
    background-image: url('../img/Vectorrr.png');
    height: 600px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 10px;
    margin-top: 120px;
}
.childsecound{
    color: #FFF;
    /* padding-top: 20px; */
    margin: 30px 12px 24px 106px;
    width: 100%;
    word-wrap: break-word;
}
.cildsecondbody{
    display: flex;
}
.img-secound{
    padding: 5px ;
    width: 150px;
    margin: 140px 200px 24px 300px;

}

.thardbody{
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0) 100%);
    height: 482px;
    border-radius: 10px;
    text-align: center;
    font-size: 32px;
    margin-top: 120px;
    margin-bottom: 60px;
}
.thardbodychild{
    /* position: absolute; */
    /* margin-top: 50px; */
    align-items: center;
    padding-top: 40px;
}
.primary-buton{
    padding: 16px 32px;
    justify-content: center;
    border-radius: 8px;
    background: #F00;
}
.forthbody{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 600px;
    width: 100%;
    background-size: 100%;
}

.imgEllipse{
  border-radius: 100%;
  border: 15px solid #f00;
  margin: auto;
  padding: 30px;
}
.main-2024{
    font-family: Inter;
    font-weight: 400;
    line-height: 32px;
    word-wrap: break-word;
    align-items: center;
}
.main-2024 h1{
    color: #F00;
}
.primary-ptag{
    word-wrap: break-word;
    font-size: 20px;
    line-height: 32px;
    width: 400px;
}
.fivebody{
    text-align: center;
    box-sizing: border-box;
    margin-top: 120px;
    font-size: 10px;
    font-weight: 500;
    line-height: 32px;
    word-wrap: break-word;
}
p{
    word-wrap: break-word;
    font-size: 20px;
    padding: ;
}
.fivebodyh3{
    font-size: 24px;

}
.p-fivebody{
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    word-wrap: break-word;
}
/* .sixbody{
    height: 100%;
    box-sizing: border-box;
    height: 600px;
}
.perents-sixbody{
    display: flex;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    max-width: 100%;
} */
.span{
    color: #F00;
}
.sevenbody{
    font-size: 20px;
    padding-top: 120px;
    word-wrap:break-word;
}
.img-rectangle{
    text-align: center;
}
.img-rectangle img{
    padding-right:10px;
    padding-bottom: 10px;
}

.img-rectangle image:hover{
    background-color: rgb(226, 42, 42);
}
.subscribe{
    background: rgba(255, 0, 0, 0.05);
    height: 400px;
    flex-shrink: 0;
    border-radius: 16px;
    text-align: center;
    padding: 200px 20px 50px 50px;
    margin-top: 120px;

}
.button-sub {
    width: 220px;
    height: 30px;
    padding-right: 50px;
    border-radius: 5px;
}

.button-sub1{
    margin-left: -70px;
    height: 35px;
    width: 80px;
    background: red;
    color: white;
    border: 0;
    border-radius: 5px;
}
/* footer desgin */
footer{
    box-sizing: border-box;
    align-items: center;
    background-color: black;
    width: 100%;
    height: 100%;
    color: #FFF;
    margin-top: 120px;
}
.perents-footer{
    display: flex;
    font-size: 24px;
}
.footer-child1{
    font-size: 24px;
    font-family: Inter;
    font-weight: 500;
    line-height: 40px;
    word-wrap: break-word;
}
.footer-child{
    display: flex;
}
#child2{
    align-items: center;
    display: flex;
    width: 100%;
}

#wrap-ptag{
    padding: 12px 150px 0px 200px;
}
.footer-icon{
    text-align: center;
    vertical-align: top;
    margin-top: 200px;
    margin-bottom: 150px;

}
.legal{
    justify-content: space-between;
    display: flex;
    align-items: center;
}
.legal1{
    font-size: 24px;
    font-weight: 500;
    word-wrap: break-word;
    margin-left: 20px;

}
    
.legal__links{
   font-size: 24px;
   font-weight: 500;
   word-wrap: break-word;
   margin-right: 20px;
}