body{
    font-family: sans-serif;
    margin: 20px 80px 0px 80px;
}
/* Banner style */
header{
    width: 100%;
    height: 600px;
    background-image: url('/img/BannerImage.png');
    background-repeat: no-repeat;
    border-radius: 16px;
    background-size: cover;
    background-position: center;
    position: relative;
}

.baner-title{
    position: absolute;
    top: 50%;
    left: 50%;
    color: #FFF;
    text-align: center;
    transform: translate(-50%, -50%);
}

h3{
    font-size: 32px;
    font-weight: 400;
}
h1{
    font-size: 72px;
}
/* Main body style */
.firstbody{
    box-sizing: border-box;
    text-align: center;
    margin-top: 120px;
}
a{
    text-decoration: none;
    color:white;
}
.secondbody{
    background-image: url('/img/Vectorrr.png');
    height: 600px;
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 10px;
    margin-top: 120px;
}
.cildsecondbody{
    color: #FFF;
}

.thardbody{
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0) 100%);
    height: 482px;
    border-radius: 10px;
    text-align: center;
    font-size: 32px;
    margin-top: 120px;
    margin-bottom: 60px;
}
.thardbodychild{
    position: absolute;
    margin-top: 50px;
}


.primary-buton{
    padding: 16px 32px;
    justify-content: center;
    border-radius: 8px;
    background: #F00;

}
.forthbody{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.imgEllipse{
    border-radius: 364.844px;
    border-radius: 463px;
    border: 15px solid #F00;
    align-items: center;
}
.primary-ptag{
    word-wrap: break-word;
    font-size: 20px;
    line-height: 32px;
    width: 400px;
}
.fivebody{
    text-align: center;
    box-sizing: border-box;
    margin-top: 120px;
    font-size: 10px;
    font-weight: 500;
    line-height: 32px;
    word-wrap: break-word;
}
p{
    word-wrap: break-word;
    font-size: 20px;
}

.sixbody{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 120px;
}